* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}

nav {
  background-color: #202124;
  padding: 2% 10%;
  display: flex;
  gap: 30px;
  border-bottom: 1px solid #3c4043;
}

input[type="text"] {
  border-radius: 10px;
  width: 300px;
  padding: 2px 10px;
}

input[type="submit"] {
  margin-left: 20px;
  letter-spacing: 2px;
  cursor: pointer;
}

.logo {
  color: white;

}

.material-symbols-outlined {
  color: black;
}

.searchbar {
  display: flex;;
  position: relative;
}

.searchbar  > span {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.container {
  background-color: #202124;
}

.info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 4% 10px;
  gap: 30px;
  color: white;
  height: 100%;
}

.temp_container {
  display: flex;
}

.temp_container > p {
  font-size: 80px;
  display: flex;
}

.temp_container > p > span {
  font-size: 16px;
}


.more_infos_container {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  gap: 2px;
}

.local_container {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.condition_container {
  padding: 12px 0 ;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
}

@media (max-width: 500px) {
  nav {
    display: flex;
    padding: 2% 2%;
    gap: 10px;
    align-items: center;
  }
  .logo {
    font-size: 12px;
  }

  input[type="text"] {
    border-radius: 10px;
    width: 200px;
    padding: 2px 10px;
    font-size: 10px;
  }
  
  input[type="submit"] {
    margin-left: 20px;
    letter-spacing: 2px;
    cursor: pointer;
  }

  .material-symbols-outlined {
    color: black;
    font-size: 20px
    ;
  }

  .temp_container,
  .more_infos_container {
    margin-top: 80px;
  }

  .local_container {
    position: absolute;
  }

  .temp_container > p {
    font-size: 70px;
    display: flex;
  }
  
  .info {
    position: relative;

  }
}